In [1]:
import pandas as pd
from geopy.distance import geodesic

In [2]:
# Load CSV files
df1 = pd.read_csv('data/JC-202309-citibike-tripdata.csv')
df2 = pd.read_csv('data/JC-202310-citibike-tripdata.csv')
df3 = pd.read_csv('data/JC-202311-citibike-tripdata.csv')

# Combine into one DataFrame
combined_df = pd.concat([df1, df2, df3], ignore_index=True)
combined_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4052081EAF41D252,classic_bike,2023-09-01 17:25:27,2023-09-01 17:31:13,Baldwin at Montgomery,JC020,Liberty Light Rail,JC052,40.723484,-74.064445,40.711242,-74.055701,member
1,330043C418DD78E3,classic_bike,2023-09-01 12:57:39,2023-09-01 13:08:50,Baldwin at Montgomery,JC020,Exchange Pl,JC116,40.723503,-74.064276,40.716366,-74.034344,casual
2,4D0F3462818482CF,classic_bike,2023-09-28 08:52:24,2023-09-28 09:15:37,Baldwin at Montgomery,JC020,Baldwin at Montgomery,JC020,40.723508,-74.064379,40.723659,-74.064194,member
3,BF4A3EBF9352E283,classic_bike,2023-09-02 15:25:33,2023-09-02 15:57:11,Baldwin at Montgomery,JC020,Baldwin at Montgomery,JC020,40.723659,-74.064194,40.723659,-74.064194,casual
4,957FA73CA6E0C552,classic_bike,2023-09-14 16:46:42,2023-09-14 17:01:18,Baldwin at Montgomery,JC020,Paulus Hook,JC002,40.723659,-74.064194,40.714145,-74.033552,casual

In [3]:
# Save the new DataFrame
combined_df.to_csv('combined_data.csv', index=False)

In [4]:
# Load the combined_data.csv file into a DataFrame
combined_data = pd.read_csv('combined_data.csv')

# Convert columns to datetime format
combined_data['started_at'] = pd.to_datetime(combined_data['started_at'])
combined_data['ended_at'] = pd.to_datetime(combined_data['ended_at'])

# Calculate total travel time
combined_data['travel_time'] = combined_data['ended_at'] - combined_data['started_at']

print(combined_data[['started_at', 'ended_at', 'travel_time']])

                started_at            ended_at     travel_time
0      2023-09-01 17:25:27 2023-09-01 17:31:13 0 days 00:05:46
1      2023-09-01 12:57:39 2023-09-01 13:08:50 0 days 00:11:11
2      2023-09-28 08:52:24 2023-09-28 09:15:37 0 days 00:23:13
3      2023-09-02 15:25:33 2023-09-02 15:57:11 0 days 00:31:38
4      2023-09-14 16:46:42 2023-09-14 17:01:18 0 days 00:14:36
...                    ...                 ...             ...
267458 2023-11-22 16:20:23 2023-11-22 16:26:38 0 days 00:06:15
267459 2023-11-21 07:01:57 2023-11-21 07:06:14 0 days 00:04:17
267460 2023-11-14 07:51:51 2023-11-14 08:04:20 0 days 00:12:29
267461 2023-11-17 08:15:06 2023-11-17 08:26:57 0 days 00:11:51
267462 2023-11-16 10:55:31 2023-11-16 11:03:47 0 days 00:08:16

[267463 rows x 3 columns]

In [5]:
# Save the DataFrame back to the CSV file with the new column
combined_data.to_csv('combined_data.csv', index=False)

In [6]:
# Load the combined_data.csv file into a DataFrame
combined_data = pd.read_csv('combined_data.csv')

# Drop rows with missing or NaN values in latitude or longitude columns
combined_data = combined_data.dropna(subset=['start_lat', 'start_lng', 'end_lat', 'end_lng'])

# Calculate the travel distance
def calculate_distance(row):
    start_coords = (row['start_lat'], row['start_lng'])
    end_coords = (row['end_lat'], row['end_lng'])
    return geodesic(start_coords, end_coords).miles

# Apply the function to calculate distance
combined_data['travel_distance'] = combined_data.apply(calculate_distance, axis=1)

# Display the DataFrame with calculated travel distance
print(combined_data[['start_lat', 'start_lng', 'end_lat', 'end_lng', 'travel_distance']])

        start_lat  start_lng    end_lat    end_lng  travel_distance
0       40.723484 -74.064445  40.711242 -74.055701         0.961394
1       40.723503 -74.064276  40.716366 -74.034344         1.646814
2       40.723508 -74.064379  40.723659 -74.064194         0.014251
3       40.723659 -74.064194  40.723659 -74.064194         0.000000
4       40.723659 -74.064194  40.714145 -74.033552         1.737526
...           ...        ...        ...        ...              ...
267458  40.727551 -74.071061  40.731009 -74.064437         0.421673
267459  40.727551 -74.071061  40.731009 -74.064437         0.421673
267460  40.727755 -74.071096  40.719420 -74.050990         1.202039
267461  40.727624 -74.071103  40.719420 -74.050990         1.198037
267462  40.727551 -74.071061  40.731169 -74.057574         0.750686

[267243 rows x 5 columns]

In [7]:
# Save the DataFrame back to the CSV file with the new column
combined_data.to_csv('combined_data.csv', index=False)